@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "RootTemplate.cshtml";

    var stringList = new List<string>() { "Teste", "Teste2", "Teste3" };
}

<p>bla bajsdkjaklsd lorem>5*>       </p>

@Model.Content.GetProperty("commonTitle").Value


@Html.Partial("_ListOfStrings", stringList)


@section FooterScripts
{
    <script src="~/scripts/Custom/main.js"></script>
    <script>
        $(document).ready(function () {
            MainFunction.init();
            alert(MainFunction.Soma(2, 3));
        });
    </script>
}