@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;
}

<html>
<head>
    <title>Homepage - Umbraco Latest</title>
</head>
<body>
    <h1></h1>
    <p>This is a Header</p>

    @RenderBody()

    <p>This is a footer</p>

    <script src="~/scripts/jquery-2.0.3.min.js"></script>
    @RenderSection("FooterScripts", false)
</body>
</html>
