@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<html>
<head>
    <title>Homepage - Umbraco Latest</title>
</head>
<body>
    <h1></h1>
    <p>This is a Header</p>

    @RenderBody()

    <p>This is a footer</p>
</body>
</html>
